section.news {
  /* not applying for now
   * background: url("../img/bk-freeze.jpg");
   */
}
section.news {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.news {
  margin-top:30px;
  list-style: none;
}
section.news .section-heading h2 {
  font-size: 18px;
  text-align: left;
  margin: 0;
  margin-bottom: 40px;
  display: table;
}
section.news .section-heading h2 strong {
  font-size: 22px;
  margin-left: 5px;
}
section.news .section-heading h2:after {
  content: "";
  position: relative;
  height: 2px;
  width: 100%;
  display: block;
  text-align: center;
  margin: 13px auto;
  background: #66cdcc;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
section.news .scale_image_container {
    -webkit-backface-visibility: hidden;
    position: relative;
    overflow: hidden;
    margin-top: 12px;
    margin-bottom: 15px;
}
section.news a {
    -webkit-transition: color .4s ease, background-color .4s ease;
    transition: color .4s ease, background-color .4s ease;
}
section.news a img {
    width: 100%;
}
section.news .post_tags {
    margin-bottom: 5px;
}
section.news .post_tag {
    padding: 2px;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    bottom: 0;
    display: inline-block;
    text-transform: none;
    text-transform: capitalize;
    color: #66cdcc;
}
section.news .f_left {
    float: left;
    display: block;
}
section.news .f_right {
    float: right;
    display: block;
}
section.news .autor_event {
    display: inline-block;
    text-align: right;
    width: 100%;
}
section.news .autor_event:after {
    clear: both;
}
section.news .autor_info a {
    font-weight: bold;
    color: #66cdcc;
}
section.news .post {
    border-bottom: 1px dashed #66cdcc;
    margin-bottom: 15px;
}
section.news .post_container .post_title a {
    color: #66cdcc;
    display: block;
    font-size: 30px;
    line-height: 30px;
    padding: 10px 0;
    text-align: left;
    cursor: pointer;
}
section.news .post_container .post_title a:after {
    background: #66cdcc;
    content: '';
    background: none;
    height: 1px;
    position: absolute;
    bottom: 2px;
    z-index: 99999;
    left: 20px;
    right: 20px;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
section.news .post_container .post_theme,
section.news .post_container .post_title {
    vertical-align: middle;
    display: inline;
}
section.news h2 {
    font-size: 22px;
}
section.news .post_text {
    text-align: left;
    padding-bottom: 10px;
}
section.news .post_text .marked {
    font-size: 20px;
    font-weight: bold;
}
section.news .section-heading p {
    font-size: 18px;
}
section.news .button {
    padding: 8px 20px;
    background: #66cdcc;
    color: #fff;
    padding: 8px 15px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
}
section.news a, button {
    -webkit-transition: color .4s ease, background-color .4s ease;
    transition: color .4s ease, background-color .4s ease;
}
section.news a {
    text-decoration: none;
    outline: none !important;
}
section.news .social-share {
    margin-top: 10px;
}
section.news .social-share i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  border: 1.5px solid #66cdcc;
}
section.news .social-share i.fa {
  color: #66cdcc;
}
section.news .social-share i.fa.fa-facebook {
  padding: 10px 12px;
}

