section#portfolio .portfolio-item {
  color: #999999;
}
section.portfolio {
  position: relative;
}
section.portfolio .portfolio-item {
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  height: 125px;
  display: flex;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}
section.portfolio .portfolio-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.portfolio .portfolio-item .photo {
  max-width: 360px;
  max-height: 125px;
  margin: auto;
  display: flex;
}
section.portfolio .portfolio-item:hover .photo.gray {
  display: none;
}
section.portfolio .portfolio-item .photo.colorized {
  display: none;
}
section.portfolio .portfolio-item:hover .photo.colorized {
  display: flex;
}
section.portfolio .portfolio-item .photo.position-left {
}
section.portfolio .portfolio-item .photo.position-right {
}
section.portfolio .portfolio-item .photo.horizontal {
  width: 100%;
}
section.portfolio .portfolio-item .photo.vertical {
  height: 100%;
}
section.portfolio .portfolio-item a {
  text-align: center;
}
