<p>
The various national jurisdictions of the EU have different approach on unregistered trade marks. Some like France and Spain do not recognize them. In others like Denmark the acquisition of trade mark rights without registration is rather easy. The UK recognizes passing-off. Still others pose specific requirements for use and recognition of the mark, in order to grant protection. Bulgaria is of the latter.
</p>

<p>
According to the Bulgarian Law on Marks and Geographical Indication, the rights in a mark are acquired by registration as of the filing date of the application and the first to file has the right to register (Art. 10 (1) and (2)). The only exceptions to this rule are when the application was filed by an agent of the actual proprietor of the mark (Art. 12 (5) LMGI), when it was filed in bad faith (Art.26 (3) p. 4 LMGI) and when the application was filed after the date of actual use of an earlier unregistered trade mark.
</p>

<p>
It should be pointed out that unregistered trade mark could be claimed only in the context of opposition or cancellation proceedings. The LMGI does not provide legal protection for marks that are not registered in accordance with its provisions. Signs used in the course of trade could be protected by the Law on Protection of the Competition, but the Bulgarian trade mark law does not protect them against infringement, unless they are registered.
</p>

<p>
So, the proprietor of an unregistered trade mark preserves the right to register the said mark and to object to its registration by another.
</p>

<p>
As regards the relevance of the actual use, when the unregistered mark is applied for registration, the registered trade mark would carry the date of the application, meaning no priority would be granted pursuant to the earlier use. When it is invoked in opposition or cancellation proceedings, however, the date of the actual use would matter.
</p>

<p>
Basing an opposition or cancellation on an unregistered mark requires that its proprietor:
</p>
<ul><li>File an application for its registration. The application should reflect the mark as used on the market and list the goods and/or services for which the use is claimed.</li><li>Prove that the mark has been used on the market and that this use has been of certain significance and not only scarce or incidental sales.</li></ul>
<p>
The proof of the actual use could be challenging, considering that according to the Bulgarian practice all evidence should demonstrate in unambiguous way that the mark was being used in the claimed manner, for the claimed goods/services and within the claimed period of time. Quite often pictures, or catalogues that are not dated are rejected entirely and not even considered as indirect proof.
</p>

<p>
In conclusion, the rights in unregistered trade marks are acknowledged to some extent in Bulgaria, but are not sufficiently protected, making them rather unreliable.
</p>
