Options -Indexes

#<IfModule mod_fcgid.c>
#   AddHandler fcgid-script .php
#   FcgidWrapper /home/[CPANEL_USER_NAME]/php5.fcgi .php
#</IfModule>

#<IfModule mod_env.c>
#        SetEnv PHPRC /home/CPANEL_NAME/php.ini
#</IfModule>

RewriteEngine on

#<If "%{HTTP_HOST} == 'distincta.dev'">
#    Redirect 301 "/" "http://www.distincta.dev/"
#</If>
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} !^$
RewriteRule ^/?(.*)      http://www.%{HTTP_HOST}/$1 [L,R=301,NE]

RewriteCond %{HTTP_USER_AGENT} .*(bot|Bot).*
RewriteCond %{REQUEST_URI} !^/snapshots.*
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ snapshots/$1/index.html [L]

RewriteCond %{HTTP_USER_AGENT} !^Mozilla
RewriteCond %{REQUEST_URI} !^/snapshots.*
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ snapshots/$1/index.html [L]

RewriteCond %{QUERY_STRING} .*_escaped_fragment_=.*
RewriteCond %{REQUEST_URI} !^/snapshots.*
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ snapshots/$1/index.html [L]

RewriteRule ^$ http://%{HTTP_HOST}/en/home [L,R=301,NE]

RewriteCond %{REQUEST_URI} ^/(services|expertise|about|news|contact|home) [NC]
RewriteRule ^(.*)$ http://%{HTTP_HOST}/en/$1 [L,R=301,NE]

RewriteCond %{HTTP_USER_AGENT} ^Mozilla
RewriteCond %{HTTP_USER_AGENT} !.*bot.*
RewriteCond %{QUERY_STRING} !.*_escaped_fragment_=.*
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/(en|bg)/
RewriteRule ^ index.html [L]

