<footer>
    <div class="container">
        <a href="home" class="scrollpoint sp-effect3">
        <svg class="logo full-size" height="60" width="237" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <image xlink:href="<%- logo_filename %>" height="60" width="237"></image>
        </a>
        <div class="social">
            <% for(var network of social_networks) { %>
                <a rel="nofollow" target="_blank" class="scrollpoint sp-effect3" href="<%- network.link %>">
                    <i class="fa <%- network.icon %> fa-lg"></i>
                </a>
            <% } %>
        </div>
        <div class="rights">
            <p>Copyright &copy; 2015 - <span id="current-year">2025</span></p>
        </div>
    </div>
</footer>
