<div class="section-heading scrollpoint sp-effect3 active animated fadeDown">
  <div class="divider">
    <h1><%- title %></h1>
  </div>
  <% if (sub_title) { %>
    <p><%- sub_title %></p>
  <% } %>
</div>
