<p>
Търговията с фалшиви стоки е сред новите методи за финансиране на терористичните групи, заради бързата печалба, значително по-малките рискове и факта, че тези престъпления са по-слабо преследвани, а тежестта на присъдите е значително по-малка.
</p>
<p>
Фалшиви цигари, хапчета, дрехи и обувки, както и пиратски копия на филми, музика и софтуер са стоки, които потребителите купуват защото са по-евтини, широко достъпни и не създават усещането за извършено престъпление. В същото време са източник на финансиране за организираната престъпност и терористични групировки като ИДИЛ [Ислямска държава], Ал-Каида, Хизбула, ИРА, ETA, ФАРК [Революционните въоръжени сили на Колумбия - народна армия], Salafist Group for Call and Combat [Салафистка група за проповеди и борба].
</p>
<p>
Финансирането е ключов компонент, осигуряващ съществуването и функционирането на терористичните организации. Източниците на финансиране са както законни, така и незаконни. Законните са под формата на дарения от симпатизанти или от дейността на легитимни дружества, притежавани от терористични групи. Нелегитимните източници са най-разнообразни &ndash; от трафик на наркотици и хора, през отвличания, до измами с кредитни карти и пране на пари. Източникът на финансиране зависи от възможностите на групата, необходимите средства за дейността й, разнообразието на профила на нейните членове и симпатизанти. Важно е да се отбележи, че за терористичните групи е от значение и да не попадат в полезрението на властите. Ето защо легитимните канали за финансиране или нелегитимните с по-нисък профил на престъпност, са особено привлекателни.
</p>
<p>
За финансиране на терористичен акт не са необходими сериозни средства. По изчисления, обявени от финансовия министър на Съвета за сигурност на Обединените нации Мишел Сапин, за атаки, подобни на извършените в Париж преди няколко години, са необходими между 10&nbsp;000 и 30&nbsp;000 евро. Това означава, че не е нужно да бъдат превеждани големи суми, които могат да бъдат засечени. Достатъчни са преводи за много малки суми, или местно финансиране от дребни престъпления, сред които са и търговията с фалшиви цигари, дрехи, обувки и бижута, които не привличат вниманието на антитерористичните власти, а са достатъчно доходни, че да осигурят разходите на терористите за наем, транспорт и закупуване на оръжия на черния пазар.
</p>
<p>
ИДИЛ в Ирак и Сирия се финансира главно от продажба на петрол, откупи от отвличания, пране на пари, както и търговия с крадени антики и произведения на изкуството. Някои от античните предмети вече са продадени в Европа и САЩ, според експерти предстои крадените предмети на изкуството скоро да се появят на важни пазари като Париж, Берлин и Ню Йорк (1). Инфилтрираните клетки на групировката в Европа обаче се финансират сами, основно чрез дребни престъпления като измами с кредитни карти и търговия с фалшиви стоки.
</p>
<p>
В доклад за 2016г. на Съюза на производителите във Франция, се споменава, че братята Куаши, отговорни за атаката над френското списание <em>Charlie Hebdo </em>са се занимавали с продажбата на фалшиви стоки. За кратко са били под наблюдение на френските антитерористични власти. До момента, в който от проследен техен телефонен разговор е станало ясно, че започват бизнес с фалшиви дрехи и обувки, което се счита за престъпление с нисък профил. По тази причина наблюдението от тях е снето, тъй като комисарите решават, че братята изоставят терористичната си дейност и да се захващат с дребни престъпления. Оръжията за осъществената от тях атака вероятно са частично финансирани именно от тези &ldquo;дребни престъпления&rdquo;(2).
</p>
<p>
Още през 2003г. Генералният секретар на Интерпол Роналд Ноубъл обръща внимание, че фалшифицирането на стоки ще става все по-важен източник на нелегитимно финансиране за терористичните групи и призовава да се предприемат мерки за адекватното адресиране на проблема, давайки конкретни примери с терористични организации от Северна Ирландия, Испания, Косово, Чечения, Северна Африка, част от финансирането на които се осъществява чрез приходи от фалшиви стоки.
</p>
<p>
Търговията с фалшиви стоки е бърз и лесен начин за сериозна печалба, който не е обвързан с големи рискове, както са търговията с оръжия и наркотици или трафика на хора. Навлизането в този сектор също е относително лесно. Не е необходимо ангажиране с действителното производство на фалшиви стоки, печели се и от продажбата и препродажбата им. Развитието на технологиите, свободният и широк достъп до компютри, копирни машини, скенери и бърз интернет улесняват изключително много копирането на етикети, опаковки, документация с точност, бързина и относителна анонимност.
</p>
<p>
Според изчисления печалбата от фалшиви стоки е сходна на тази от трафика на наркотици &ndash; за 1 долaр има възвръщаемост от 10 долара (3). Други източници дават предимство на фалшивите стоки &ndash; един килограм пиратски дискове струва повече от килограм канабисова смола (килограм дискове струва 3000 евро, а килограм канабисова смола се оценява на 1000 евро (4). Цената за копиране на компютърна програма се изчислява на около 30 цента и може да се продаде за над 50 долара, а за производството на грам марихуана са необходими 2.25 долара, след което се продава за около 18.2 долара (5).
</p>
<p>
В същото време присъдите са по-леки. Във Франция, например, продажбата на фалшиви стоки се наказва с две години лишаване от свобода и глоба от 150&nbsp;000 евро, а продажбата на наркотици се наказва с десет години затвор и глоба от 7&nbsp;500&nbsp;000 евро. В България, според Наказателния кодекс, нарушенията срещу обект на интелектуалната собственост се наказва с лишаване от свобода до пет години и с глоба до 5 000 лева. Ако деянието е извършено повторно или са причинени значителни вредни последици, наказанието е лишаване от свобода до осем години и глоба до 8 000 лева. За придобиване и държане на високорискови наркотични вещества се предвижда наказание до 6 години лишаване от свобода и до 10&nbsp;000 лева глоба. Ако деянието е в големи размери глобата достига до 300&nbsp;000 лева, а лишаването от свобода до 20 години.
</p>
<p>
В развиващите се държави пък нарушенията срещу интелектуална собственост често не биват адресирани, самото познаване на интелектуалната собственост е на ниско ниво и защитата, предвидена в законодателството е изключително слаба. Там основна част от финансирането на терористичните групи се извършва чрез пиратство срещу интелектуална собственост.
</p>
<p>
Търсенето на евтини потребителски стоки и разпространеното схващане, че купуването на фалшиви такива не е престъпление, засилва бързото разрастване на този вид незаконна дейност. Слабата осведоменост на потребителите относно пиратството срещу интелектуална собственост и разбирането, че то не е кой знае какво нарушение, подпомага разрастването му. Потребителите, които купуват фалшиви стоки рядко се замислят за произхода им или къде отиват средствата.
</p>
<p>
Както с всяка незаконна дейност, борбата следва да се води от цялото общество &ndash; по-добро разследване на национално ниво, по-добра координация, размяна на информация и съвместни усилия на международно ниво, по-добър контрол от страна на компетентните органи и по-голямо внимание от страна на потребителите за стоките, които купуват и техния действителен произход.
</p>
<p>
<em>Престъплението с интелектуална собственост е част от черната икономика и представлява фалшифицирането и пиратското производство, транспортиране, складиране и разпространение на стоки с цел продажба, без съгласието на притежателя на правата. Обект на пиратство са всякакви стоки &ndash; от дрехи, обувки, бижута и други аксесоари, през храни, лекарства и хранителни добавки, до части за машини и превозни средства, както и дигиталното пиратство (неоторизирано копиране и разпространение на филми, книги, аудиозаписи, софтуер и други).</em>
</p>
<p>
<em>Търговията с пиратски стоки засяга на практика всеки по един или друг начин. Фалшивите продукти поставят сериозни рискове за здравето и сигурността на потребителите. Тяхното производство е неурегулирано, в него се влагат минимални средства и се използват некачествени материали и съставки.&nbsp; Фалшиви гуми, спирачки, лекарства, електрически уреди, детски играчки, дори самолетни части, са малка част от пиратските стоки, чиято продажба освен да уврежда икономиката, може да има фатални последствия за потребителите. Според Световната здравна организация 16% от фалшивите лекарства съдържат грешни съставки, 17% съдържат съставките в неправилни пропорции и 60% не съдържат активно вещество (5).</em>
</p>
<p>
<em>Към момента търговията с фалшиви стоки представлява 10% от световната търговия и коства средно 2,5 милиона работни места годишно в страните от Г20. През 2009 Организацията за икономическо сътрудничество и развитие изчислява финансовият ефект от фалшифицирането на между 250 и 500 милиарда долара в световен мащаб. Организацията изчислява, че през 2015 в световен мащаб оборотът от пиратски стоки ще е над 1,7 трилиона долара, което е повече от стойността на продажбата на наркотици и проституцията взети заедно.</em>
</p>
<p>
<em>&nbsp;</em>
</p>
<p>
<em>Източници:</em>
</p>
<ol start="3"><li><em> &ldquo;ISIS Funding Sources 2015: How Islamic State Paid For Paris Terror Attack Guns, Ammunition, Suicide Vests&ldquo;, JESS MCHUGH, International Business Times, March 12, 2015;</em></li><li><em> &ldquo;French police identify potential fourth terror cell member after Paris attacks&rdquo;, The Guardian,&nbsp;</em><em>January 15, 2015;</em></li><li><em>Explosion de la contrefa&ccedil;onʹ, AffichesParisiennes et D&eacute;partementales, 4th-5th July 2002;</em></li><li><em>The link between intellectual property crime and terrorist financing (16 юли 2003);</em></li><li><a href="http://www.rand.org/content/dam/rand/pubs/monographs/2009/RAND_MG742.pdf"><em>http://www.rand.org/content/dam/rand/pubs/monographs/2009/RAND_MG742.pdf</em></a></li><li><em> OECD/EUIPO (2019), Trends in Trade in Counterfeit and Pirated Goods, Illicit Trade, OECD Publishing, Paris/European Union Intellectual Property Office. </em><em><a href="https://doi.org/10.1787/g2g9f533-en">https://doi.org/10.1787/g2g9f533-en</a></em></li><li><em><a href="https://www.ted.com/talks/alastair_gray_how_fake_handbags_fund_terrorism_and_organized_crime">https://www.ted.com/talks/alastair_gray_how_fake_handbags_fund_terrorism_and_organized_crime</a>&nbsp;</em></li></ol>
