<p>
Като част от амбициозната стратегия на Европейската комисия за единен цифров пазар, премахването на преградите за свободен пренос на услуги по предоставяне на онлайн съдържание е важна стъпка, която трябва да изчисти несъответствията и да балансира интересите на носителите на права, доставчиците на услуги и европейските потребители.
</p>

<p>
Трансграничната преносимост касае услугите за онлайн съдържание, до които потребителите имат законен достъп, или съдържание, което те закупуват или наемат онлайн в държавата си на пребиваване и до което искат да продължат да имат достъп, когато пътуват в Европа. Търсенето, което се наблюдава от страна на потребителите по отношение на трансграничната преносимост на услугите за онлайн съдържание, е със значителен мащаб и се очаква да продължи да нараства. Въпреки това, когато хората пътуват в ЕС, често не могат да се възползват от тази преносимост или, ако могат, е само в ограничена степен.
</p>

<p>
Понастоящем голяма част от доставчиците препятстват достъпа на своите абонати до онлайн съдържание, когато са извън държавата, посредством геоблокиращи механизми.&nbsp; Основанията са в разрешенията от страна на носителите на правата и/или търговските практики на доставчиците на услуги, като водещ мотив е териториалният обхват на защита на авторските права, за които разрешение за възпроизвеждане, предаване и препредаване се дават за всяка територия поотделно. Тези ограничения обаче противоречат на член 56 от Договора функционирането на ЕС, който забранява ограниченията на свободното предоставяне на услуги в рамките на Съюза по отношение на гражданите на държавите членки, които са се установили в държава членка, различна от тази, в която се намира лицето, за което са предназначени услугите.
</p>

<p>
Съгласно бъдещия Регламент, доставчикът на услуга за онлайн съдържание осигурява възможност на абонатите, които временно пребивават в държава членка, да имат достъп и да използват услугата за онлайн съдържание.
</p>

<p>
&ldquo;Абонат&rdquo; означава потребител, който съгласно договор с доставчик за предоставяне на услуга за онлайн съдържание може да има достъп и да използва такава услуга в държавата членка на пребиваване.
</p>

<p>
&ldquo;Държава членка на пребиваване&rdquo; означава държавата членка, в която абонатът обичайно пребивава.
</p>

<p>
&ldquo;Временно пребивава&rdquo; означава пребиваването на абонат в държава членка, различна от държавата членка на пребиваване.
</p>

<p>
В този си вариант текстът не дава яснота относно критериите, по които ще се определя коя е държавата на пребиваване на потребителя, т.е. къде той може да е абонат на дадена онлайн услуга. Не е изчистен и въпросът с временното пребиваване &ndash; как ще се определи какво точно е временно, предвид, че все повече нараства броят на гражданите, които имат постоянен адрес в една държава членка и пътуват ежедневно, ежемесечно или на различни интервали до други държави членки. Поставянето на срокове (ограничения) върху временно пребиваване води до въпроса доколко те ще са в съответствие с член 56 от ДФЕС.
</p>

<p>
В решение по съединени дела C-403/08 и C-429/08, Football Association Premier League and Others (EС:C:2011:631), Съдът на ЕС още през 2011 изтъква, че някои ограничения при предоставянето на услуги не могат да се обосноват със защита на правата върху интелектуална собственост. В същото решение Съдът обръща внимание, че носителите на права могат да бъдат защитени и възнаграждението им може да бъде подходящо отразено в условията, които договарят с доставчиците на услуги с оглед на потенциалната публика (на съответната територия и извън нея).
</p>

<p>
Делото засяга предоставяне на услуги от Футболната асоциация на Висшата лига на Англия, която дава изключителни лицензии за излъчване на мачовете от Висшата лига на териториален принцип. С цел запазване на тази териториална изключителност в лицензионните договори доставчиците се задължават да блокират сателитния сигнал за територии извън тази, за която е лицензът и да не предоставят на потребителите декодиращи средства. Съдът постановява, че забраната за внос, продажба и използване на чужди декодиращи карти противоречи на свободата на предоставяне на услуги и не може да бъде оправдано със защита на интелектуална собственост.
</p>

<p>
В светлината на това, а и на други решения, се очертава ясно приоритетът за осигуряване на свобода на движение на стоки и предоставяне на услуги пред закрилата на интелектуалната собственост. Разбира се, мнението на законотворците е, че едното не противоречи на другото и закрилата и подходящите стимули за творците, могат да бъдат подходящо осигурени и при регламентирано свободно движение на стоки и услуги.
</p>

<p>
Ако носителите на права няма от какво да се притесняват, компаниите предоставящи онлайн съдържание обаче, са обезпокоени от тенденцията към премахване на териториалния принцип, което има потенциала да превърне всички в конкуренти за европейските потребители. Ако няма ограничение във &ldquo;временното пребиваване&rdquo;, ако не е дефинирано точно как се определя &ldquo;страната на пребиваване&rdquo;, доставчиците на услуги ще трябва или да засилят механизмите си за верификация на абонатите си (данни от лична карта, адресна регистрация или други данни, които потребителите не дават благосклонно, особено в дигитална среда) или да се подготвят за конкуренция с доставчици от други държави членки, които предоставят идентични или сходни продукти. Например, ако таксата за месечен абонамент за дадена услуга в България е 5 лв., а във Франция 5 евро, логично българският доставчик ще е предпочитан.
</p>

<p>
Освен това големите доставчици, които дават териториални лицензии (подобно на примера с Висшата лига по-горе) ще бъдат лишени от досегашната си възможност да продават един и същи продукт 28 пъти. Това в крайна сметка може да рефлектира върху потребителите, ако в отговор доставчиците увеличат цените за абонамент, поради нуждата от предоговаряне на условията с носителите на права.
</p>

<p>
Регламентът се очаква да влезе в сила през 2017, същата година, в която ще отпаднат и таксите за роуминг в ЕС. Спорните моменти по Регламента обаче са сериозни и тепърва ще са обект на разисквания, анализи и компромиси. Сложността им буди притеснение, че срокът за влизане в сила на Регламента няма да бъде спазен.
</p>

<p>
Териториалният принцип на защита на авторското право и липсата на хармонизирано третиране в страните членки се явява преграда пред свободното движение на стоки и услуги в ЕС. Фрапантна ситуация наскоро онагледи нуждата от уеднаквяване на авторско-правната защита. На 26 април 2016 (Световният ден на интелектуалната собственост) полски неправителствени организации (CentrumCyfrowe, Kennisland и COMMUNIA) в съобщение до медиите обявяват, че оригиналната версия на холандски на &ldquo;Дневникът на Ане Франк&rdquo; ще бъде публикувана на сайта на организацията. Публикацията обаче ще е достъпна само в Полша, тъй като оригиналната творба е все още защитена в повечето страни членки. С тази публикация организациите целят да покажат абсурдно големия срок на защита на авторските права в ЕС, както и че този срок дори не е хармонизиран между държавите членки, което е странно предвид трудната, но все пак успешно постигната единна защита за други обекти на интелектуалната собственост като марки, патенти и дизайни.
</p>
