 <p>Както бяхме споделили в предишна <a href="http://www.distincta.eu/bg/news/shape-of-product">статия</a>, регистрацията на формата на продукт като търговска марка е особено примамлива, тъй като осигурява почти неограничена във времето защита.
</p>
 <p>За да получи такава защита обаче, тя трябва да е оригинална и специфична, значително да се отличава от другите на пазара и потребителите освен да й обърнат внимание, трябва да могат и да я асоциират с търговския й произход. В допълнение, формата не трябва и да е чисто функционална, т.е. да не произтича единствено от предназначението на продукта.
</p>
 <p>За разлика от имената или логата, които се поставят върху продуктите, формата на самите продукти или тяхната опаковка рядко и по-трудно се възприемат от потребителя като отличителен знак за произход. Ето защо, гореизброените критерии са летвата, която дадена форма трябва да премине, за да може да изпълнява функцията на търговска марка и съответно да получи закрила като такава.
</p>
 <p>Притеснението от злоупотреби с регистрацията на 3D марки, които са в ущърб на конкуренцията и обществения интерес, налага стриктна експертиза преди да се предостави регистрация за търговска марка. Все по-често заявки за 3D марки биват отказани, а регистрирани такива биват заличени. Тенденцията засяга дори наложени на пазара форми, които са придобили и репутация.
</p>
 <p>Миналата година успешно бяха оспорени 3D марките за две добре познати форми - на десерта Kit Kat и на кубчето Рубик:
</p>
 <p>В началото на годината Nestl&eacute; загубиха битката за британската си марка за формата на десерта Kit Kat*. Според съдията, формата заявена за регистрация няма отличителен характер. Представените доказателства не демонстрират придобита отличителност.
</p>
 <p>В хода на производството Nestl&eacute; представят доказателства за сериозно присъствие на пазара, значителни по обем продажби и разпознаваемост на продукта си. Известността на продукта обаче не може да докаже, че в случая потребителите разпознават самата форма като отличаваща продукта на Nestl&eacute;, без помощта на логото Kit Kat.
</p>
 <p>Заявена марка:
</p>
 <p align="center"><img src="/img/news/kit-kat-01.jpg" alt="лицензиран представител по индустриална собственост, регистрира търговски марки и папенти в България, Европа и САЩ" width="160" height="95" name="Picture 1" align="bottom" border="0" />
</p>
 <p>Начин на използване:
</p>
 <p align="center"><img src="/img/news/kit-kat-02.jpg" alt="лицензиран представител по индустриална собственост, регистрира търговски марки и папенти в България, Европа и САЩ" width="197" height="112" name="Picture 3" align="bottom" border="0" />
</p>
 <p align="justify">След като Nestl&eacute; не са успели да докажат, че потребителите разпознават формата на продукта и го асоциират като техен без помощта на означението &ldquo;Kit Kat&rdquo;, Съдът приема, че формата няма нито присъща, нито придобита отличителност и не може да служи за търговска марка.
</p>
 <p align="justify"><a name="_GoBack"></a> През ноември пък Съдът на ЕС постанови заличаването на 3D марката за формата на кубчето Рубик. Решението е в резултат на искане за заличаване от страна на конкурента Simba Toys, според които принципът на въртене на кубчето е техническо решение, което трябва да бъде защитено с патент, а не с търговска марка.
</p>
 <p>За разлика от марките, патентите предоставят временна закрила (максимално 20 години), след което изобретението става свободно за използване от всеки. Марката обаче предоставя на практика неограничен във времето монопол.
</p>
 <p>В решението си Съдът отбелязва, че когато се преценяват основните характеристики на заявената за марка форма на продукта, те следва да се разглеждат с оглед на техническата функция на реалния продукт. В случая &ndash; триизмерен пъзел с ротационен механизъм.
</p>
 <p>Съдът приема, че всеки елемент от изображението изпълнява чисто техническа функция. Ето защо, 3D марката на практика осигурява несправедлив монопол за техническо решение.
</p>
 <p align="center"><img src="/img/news/rubiks-cube-mark.jpg" alt="лицензиран представител по индустриална собственост, регистрира търговски марки и папенти в България, Европа и САЩ" width="161" height="194" name="Picture 2" align="bottom" border="0" />
</p>
 <p>*Решение от 20 януари 2016 по дело CH/2014/0392, CH/2013/0394 Nestl&eacute; vs Cadbury
</p>
 <p>**Решение от 10 ноември 2016 по дело C-30/15 P Simba Toys срещу Seven Towns
</p>
