<p>
С подновяване на всеки 10 години, търговската марка е единственият обект на индустриална собственост с потенциал за неограничена във времето защита. Подобен монопол обаче следва да е оправдан от гледна точка балансираните интереси на маркопритежатели и потребителите.
</p>

<p>
С цел да се избегне монопол от страна на притежателя върху марка, която не се използва и да се даде шанс на трети страни, които имат интерес от използването й, е предвидена възможност за отмяна на регистрацията на основание неизползване.&nbsp; Така регистрите се прочистват от марки, които не изпълняват функцията си реално на пазара.
</p>

<p>
<strong>Правната уредба:</strong>
</p>

<p>
Съгласно Българския закон за марките и географските означения, когато в срок пет години от датата на регистрацията притежателят не е започнал реално да използва марката на територията на Република България във връзка със стоките или услугите, за които е регистрирана, или използването е било преустановено за непрекъснат период от пет години, регистрацията може да бъде отменена, ако не съществува основателна причина за неизползването (чл. 19(1)).
</p>

<p>
Следователно, за да подлежи на отмяна марката трябва:
</p>
<ul><li>да е регистрирана;</li><li>да са минали пет години от регистрацията й;</li><li>през тези пет години тя да не е била използвана във връзка със стоките или услугите, за които е заявена и да няма основателна причина за неизползване.</li></ul>
<p>
Законодателят е предвидил гратисен период от 5 години след регистрацията, за да се даде възможност на притежателя на марката да започне реално да я използва. Мине ли този период обаче, той трябва да има основателна причина за неизползване, в противен случай може да загуби марката си.
</p>

<p>
Петте години се изчисляват <strong>от момента на подаване на искането за отмяна назад</strong>.
</p>

<p>
Така марка, която е регистрирана над пет години и вече е на 30, 50 или повече години, дори и да е била използвана в даден период в миналото, ако в последните 5 години не е използвана, тя може да бъде загубена, освен ако няма основателна причина за неизползването.
</p>

<p>
Следва да се има предвид, че Патентно ведомство не следи дали марките реално се използват и не отменя регистрации по своя инициатива. Решенията за отмяна са в резултат на отправено искане от трета страна. За подаване на искането не е необходимо тази трета страна да представи основания за правен интерес (използване или намерение за използване от нейна страна на въпросната марка), а само да подаде искането и да плати съответната такса.
</p>

<p>
<strong>Какво означава реално използване и как се доказва</strong>
</p>

<p>
За използване се счита:
</p>
<ul><li>поставянето на знака върху стоките или върху техните опаковки;</li><li>предлагането на стоките с този знак за продажба или пускането им на пазара, или съхраняването им с тези цели, както и предлагането или предоставянето на услуги с този знак;</li><li>вносът или износът на стоките с този знак;</li><li>използването на знака в търговски книжа и в реклами.</li></ul>
<p>
За да бъде квалифицирано като <strong>реално</strong>, а не просто фиктивно, използването трябва да е в обем, обхват&nbsp; и продължителност, които да гарантират, че за въпросния период е имало присъствие на пазара и е бил направен поне опит за заемане на определен пазарен дял.
</p>

<p>
Като доказателства служат фактури за осъществени продажби, датирани каталози, снимки, брошури, реклами, статии, данни за пазарен дял.
</p>

<p>
Доколко обемът, обхватът и продължителността са достатъчни за запазване на регистрацията, се преценява на база комплексна оценка на всички представени факти, както и на всички важни за случая обстоятелства.
</p>

<p>
Важно е да се отбележи, че марката трябва да е <strong>използвана за означаване на стоките или във връзка с услугите, за които е регистрирана</strong>. Т.е. продуктите, за които марката се използва, следва да присъстват в изброените в регистрацията.
</p>

<p>
Следва да се има предвид, че марката ще остане валидна само за тези стоки и услуги, за които има доказано използване. Ако в регистрацията присъстват други, за които марката не е реално използване, те ще отпаднат от регистрацията.
</p>

<p>
<em>Например, ако марката е регистрирана за захарни изделия, безалкохолни напитки и млечни продукти, а реално използване е доказано само за вафли и шоколади (по своята същност това са захарни изделия), то регистрацията ще остане валидна за захарни изделия. За останалите категории стоки (безалкохолни напитки и млечни продукти), тя ще бъде отменена поради неизползване.</em>
</p>

<p>
Друго важно условие е марката да е <strong>използвана във вида, в който е регистрирана или по начин, който не се различава съществено от регистрацията</strong>.
</p>

<p>
Това изискване е особено важно за марки, които представляват лога и включват редица образни елементи, включително цветове, шрифтове, големина и подредба на елементите. Ако реалното им използване е във вид, който съществено се различава от вида, в който са регистрирани, тяхното използване няма да бъде признато и те ще бъдат отменени.
</p>

<p>
Ето защо, маркопритежателите трябва да са внимателни с промените, които внасят във визията на вече регистрирани марки - промяната на шрифт, цвят, махането или добавянето на думи и образни елементи. Подобни промени могат да се квалифицират като &bdquo;козметични&rdquo; и непроменящи отличителния характер на марката.&nbsp; Могат обаче да бъдат определени и като достатъчно съществени, че да засегнат отличителния й характер.
</p>

<p>
Дали измененията са съществени ще зависи от самата марка, колко е <a href="http://www.distincta.eu/bg/news/important-to-be-distinctive" target="_blank">отличителна</a>, колко важни са елементите в нея, кои елементи са променени и в какво се състоят тези промени. Преценката е с оглед на всички важни за конкретната ситуация обстоятелства.
</p>

<p>
<strong>Какво е основателно неизползване</strong>
</p>

<p>
Основателното неизползване представлява определени обстоятелства, при които фактори, които не зависят от волята на маркопритежателя, правят невъзможно или неоправдано използването на марката.
</p>

<p>
Такива фактори трябва да са извън контрола на маркопритежателя. Обикновено това са държавни политики (държавен монопол, забрана за внос, необходимост от получаване на лиценз за предлагане на стоката), съдебни заповеди, форсмажорни обстоятелства.
</p>

<p>
Фактори като финансови затруднения, промяна на политиката и стратегията на маркопритежателя не са основателни причини за неизползване.
</p>

<p>
Решението за основателно неизползване също се прави на база комплексна оценка на факторите и конкретните обстоятелствата за всеки случай.
</p>

<p>
&nbsp;
</p>

<p>
Ако имате нужда от консултация или съдействие във връзка с отмяна на марка поради неизползване, не се колебайте да се <a href="http://www.distincta.eu/bg/contact" target="_blank">свържете с нас</a>.
</p>
