@font-face {
  font-family: 'Philosopher-Italic';
  src: url('Philosopher-Italic.woff') format('woff'),
       url('Philosopher-Italic.ttf') format('truetype'),
       url('Philosopher-Italic.svg#Philosopher-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'philosopher-normal-italic';
  src: url('philosopher-normal-italic.eot');
  src: url('philosopher-normal-italic.woff2') format('woff2'),
       url('philosopher-normal-italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

