section.articles {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.articles {
  margin-top:30px;
  list-style: none;
}
section.articles .section-heading h2 {
  font-size: 18px;
  text-align: left;
  margin: auto;
  display: table;
}
section.articles .section-heading h2 strong {
  font-size: 22px;
  margin-left: 5px;
}
section.articles .section-heading h2:after {
  content: "";
  position: relative;
  height: 2px;
  width: 100%;
  display: block;
  text-align: center;
  margin: 13px auto;
  background: #66cdcc;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
section.articles .scale_image_container {
    -webkit-backface-visibility: hidden;
    position: relative;
    overflow: hidden;
    margin-top: 12px;
    margin-bottom: 15px;
}
section.articles .scale_image_container img {
    max-height: 100%;
    max-width: 100%;
}
section.articles a {
    -webkit-transition: color .4s ease, background-color .4s ease;
    transition: color .4s ease, background-color .4s ease;
}
section.articles a img {
    width: 100%;
}
section.articles .post_tags {
    margin-bottom: 5px;
}
section.articles .post_tag {
    padding: 2px;
    text-transform: none;
    font-size: 18px;
    font-weight: bold;
    bottom: 0;
    display: inline-block;
    text-transform: none;
    text-transform: capitalize;
    color: #66cdcc;
}
section.articles .f_left {
    float: left;
    display: block;
}
section.articles .f_right {
    float: right;
    display: block;
}
section.articles .author_event {
    display: inline-block;
    text-align: right;
    width: 100%;
}
section.articles .author_event:after {
    clear: both;
}
section.articles .author_info a {
    font-weight: bold;
    color: #66cdcc;
}
section.articles .posts {
    border-top: 1px dashed #66cdcc;
    padding-top: 15px;
}
section.articles .post {
    border-bottom: 1px dashed #66cdcc;
    margin-bottom: 15px;
}
section.articles .post_container .post_title a {
    color: #66cdcc;
    display: block;
    font-size: 30px;
    line-height: 30px;
    padding: 10px 0;
    text-align: left;
    cursor: pointer;
}
section.articles .post_container .post_title a:after {
    background: #66cdcc;
    content: '';
    background: none;
    height: 1px;
    position: absolute;
    bottom: 2px;
    z-index: 99999;
    left: 20px;
    right: 20px;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
section.articles .post_container .post_theme,
section.articles .post_container .post_title {
    vertical-align: middle;
    display: inline;
}
section.articles h2 {
    font-size: 22px;
}
section.articles .post_text {
    text-align: left;
    padding-bottom: 10px;
}
section.articles .post_text .marked {
    font-size: 20px;
    font-weight: bold;
}
section.articles .section-heading p {
    font-size: 20px;
}
section.articles .section-main-container  {
    font-size: 20px;
}
section.artcles .button {
    font-size: 16px;
}
section.articles .social-share {
    margin-top: 10px;
}
section.articles .social-share i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  border: 1.5px solid #66cdcc;
}
section.articles .social-share i.fa {
  color: #66cdcc;
}
section.articles .social-share i.fa.fa-facebook {
  padding: 10px 12px;
}

section.articles .pagination {
    display: flex;
    justify-content: flex-end;
}

section.articles .pagination>.active>a,
section.articles .pagination>.active>a:focus,
section.articles .pagination>.active>a:hover,
section.articles .pagination>.active>span,
section.articles .pagination>.active>span:focus,
section.articles .pagination>.active>span:hover {
    background-color: #66cdcc;
    border-color: #66cdcc;
}
section.articles .pagination>.active>a,
section.articles .pagination>.active>a:focus,
section.articles .pagination>.active>a:hover,
section.articles .pagination>.active>span,
section.articles .pagination>.active>span:focus,
section.articles .pagination>.active>span:hover {
    color: #fff;
}

section.articles .pagination>li>a,
section.articles .pagination>li>span {
    color: #66cdcc;
}

section.articles .scale_image_container {
    -webkit-backface-visibility: hidden;
    position: relative;
    overflow: hidden;
    margin-top: 12px;
    margin-bottom: 15px;
}
section.articles .scale_image_container img {
    max-width: 100%;
}
section.articles .post_content {
    text-align: left;
    margin-bottom: 15px;
    font-size: 15px;
}
section.articles .post_content img {
    max-width: 100%;
}
section.articles .post_content p,
section.articles .post_content a,
section.articles .post_content b,
section.articles .post_content strong,
section.articles .post_content div,
section.articles .post_content span {
    font-size: 15px;
}
section.articles .section-additional-container {
    border-top: 1px solid #66cdcc;
    padding-bottom: 20px;
}
section.articles .section-additional-container div {
    margin-top: 20px;
}
section.articles .section-additional-container .label {
    color: #aaa;
    padding: 0;
}
section.articles .section-additional-container .label,
section.articles .section-additional-container .value {
    font-size: 16px;
    line-height: 22px;
}
section.articles .section-additional-container .value a {
    text-transform: none;
    font-weight: bold;
    color: #66cdcc;
}
section.articles .post_tags {
    margin-top: 20px;
    margin-bottom: 5px;
}
section.articles .post_tag {
    padding-right: 2px;
    font-weight: bold;
    text-transform: none;
    color: #66cdcc;
}
section.articles a {
    text-decoration: none;
    outline: none !important;
}
section.articles .social-share {
    margin-top: 10px;
}
section.articles .social-share i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  border: 1.5px solid #66cdcc;
}
section.articles .social-share i.fa {
  color: #66cdcc;
}
section.articles .social-share i.fa.fa-facebook {
  padding: 10px 12px;
}
