<style>
section.expertise .slider {
  margin: 50px 0;
}
section.expertise .slider div img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding: 10px;
  display: inline;
}
section.expertise .slider div h4 {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}
section.expertise .slider .slick-dots li button {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
section.expertise .slick-prev,
section.expertise .slick-next {
  width: 50px;
  height: 50px;
  top: 44%;
}
section.expertise .slick-slide {
  text-align: center;
}
section.expertise .slick-prev:before {
  content: "\f104";
}
section.expertise .slick-next:before {
  content: "\f105";
}
section.expertise .slick-prev:before,
section.expertise .slick-next:before {
  font-size: 34px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  line-height: 45px;
  width: 50px;
  display: inline-block;
  height: 50px;
  text-align: center;
}
section.expertise .filter {
  text-align: center;
}
section.expertise .filter span {
  display: inline-block;
  padding: 7px 20px;
  text-decoration: none;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  margin: 10px 5px;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
section.expertise header h1:after {
  background: #66cdcc;
}
section.expertise .slider div img {
  border: 2px solid #e5e5e5;
}
section.expertise .slider div h4 {
  color: #999999;
}
section.expertise .slider .slick-dots li button {
  background: #999999;
}
section.expertise .slider .slick-dots li.slick-active button {
  background: #66cdcc;
}
section.expertise .filter span {
  border: 2px solid #cccccc;
  color: #999999;
}
section.expertise .filter span.colored {
  color: #ffffff;
  background: #66cdcc;
  border-color: #66cdcc;
}
</style>
