<header>
    
    <nav id="distincta-nav-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <distincta-nav-bar header-info="base_data" page-slug="'about'"></distincta-nav-bar>
        </div>
        <!-- /.container-->
    </nav>
</header>

<div class="wrapper">
    <section class="about">
        <div class="container">
            <div class="section-heading scrollpoint sp-effect3 active animated fadeInRight">
                <div class="divider">
                    <h1>{{ about_data.page_title }}</h1>
                </div>
                <p ng-repeat="content in about_data.about_us_content">{{ content }}</p>
            </div>
            
            <div class="row">
                <div class="col-md-6" ng-repeat="person in about_data.biographies">
                    <div class="about-item scrollpoint sp-effect2">
                        <img class="photo img-circle" ng-src="img/{{ person.photo }}" alt="{{ person.alt_text }}" />
                        <div class="about-header-person-v2"><h3>{{ person.name }}</h3></div>
                        <p class="trade_number" ng-bind-html="person.bg_trade_number"></p>
                        <p class="trade_number" ng-bind-html="person.en_trade_number"></p>
                        <a ng-href="{{ base_data.lang + '/about/' + person.slug }}" class="button button_type button_blue">{{ about_data.review_biography_label }}</a><br/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<distincta-footer-bar footer-info="base_data"></distincta-footer-bar>
