<section class="contact doublediagonal">
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <div class="divider">
        <h1>{{ section_data.title }}</h1>
      </div>
      <p ng-repeat="paragraph in section_data.contact_content">{{ paragraph }}</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12 contact-details scrollpoint sp-effect5">
            <div class="media" ng-if="section_data.address.display != 'no'">
              <span class="pull-left">
                <i class="fa {{ section_data.address.icon }} fa-2x"></i>
              </span>
              <div class="media-body">
                <h4 class="media-heading">{{ section_data.address.value }}</h4>
              </div>
            </div>
            <div class="media" ng-if="section_data.email.display != 'no'">
              <a class="pull-left" href="mailto:{{ section_data.email.value }}" >
                <i class="fa {{ section_data.email.icon }} fa-2x"></i>
              </a>
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="mailto:{{ section_data.email.value }}">{{ section_data.email.value }}</a>
                </h4>
              </div>
            </div>
            <div class="media" ng-if="section_data.phone.display != 'no'">
              <a class="pull-left" href="tel:{{ section_data.phone.value }}" >
                <i class="fa {{ section_data.phone.icon }} fa-2x"></i>
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="tel:{{ section_data.phone.value }}">{{ section_data.phone.value }}</a></h4>
              </div>
            </div>
            <div class="media" ng-if="section_data.fax.display != 'no'">
              <a class="pull-left" href="fax:{{ section_data.fax.value }}" >
                <i class="fa {{ section_data.fax.icon }} fa-2x"></i>
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="fax:{{ section_data.fax.value }}">{{ section_data.fax.value }}</a></h4>
              </div>
            </div>
            <div class="media" ng-if="section_data.mobile.display != 'no'">
              <a class="pull-left" href="tel:{{ section_data.mobile.value }}" >
                <i class="fa {{ section_data.mobile.icon }} fa-2x"></i>
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="tel:{{ section_data.mobile.value }}">{{ section_data.mobile.value }}</a></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
