<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="fa fa-bars fa-lg"></span>
    </button>
    <a class="navbar-brand" href="{{ headerInfo.lang }}/home">
        <img ng-src="img/{{ headerInfo.logo_filename }}" alt="{{ headerInfo.logo_alt_text }}" class="logo">
    </a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="page in headerInfo.pages"><a class="{{ page.slug == pageSlug ? 'active' : '' }}" href="{{ page.location }}">{{ page.name }}</a></li>
        <li class="language"><a href="/{{ headerInfo.languages[0].slug + no_lang_path }}">{{ headerInfo.languages[0].name }}</a></li>
    </ul>
</div>

