<header>
    <nav id="distincta-nav-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <distincta-nav-bar header-info="base_data" page-slug="'news'"></distincta-nav-bar>
        </div>
        <!-- /.container-->
    </nav>
</header>

<div class="wrapper">
    <section class="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 section-heading scrollpoint sp-effect3 active animated fadeInRight">
                    <div class="scale_image_container">
                        <img ng-src="img/news/{{ news_data.image }}" alt="{{ news_data.image_alt_text }}" class="scale_image">
                    </div>
                    <div class="divider post_title">
                        <h1>{{ news_data.title }}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 section-main-container scrollpoint sp-effect3 active animated fadeInRight">
                    <div class="post_content" ng-bind-html="news_data.content | to_trusted"></div>
                </div>
                <div class="col-md-3">
                    <div class="section-additional-container scrollpoint sp-effect3 active animated fadeInRight">
                        <div class="event_date">
                            <span class="label">{{ base_data.label_posted_on }}</span><br/>
                            <span class="value">{{ news_data.date }}</span>
                        </div>
                        <div class="autor_info">
                            <span class="label">{{ base_data.label_autor }}</span><br/>
                            <span class="value"><a href="{{ base_data.lang + '/about/' + news_data.autor_slug }}">{{ news_data.autor }}</a></span>
                        </div>
                        <div class="post_tags">
                            <span class="label">{{ base_data.label_tags }}</span><br/>
                            <span class="value"><a ng-repeat="tag in news_data.tags" href="{{ base_data.lang + '/news#' + tag }}" class="post_tag">{{ tag }}{{ $last ? '' : ', ' }}</a></span>
                        </div>
                        <div class="social-share">
                            <span class="label">{{ base_data.label_share }}</span><br/>
                            <span class="value">
                                <!--a href="#" socialshare socialshare-provider="facebook" socialshare-type="feed" socialshare-text="{{ news_data.title }}"
                                    socialshare-description="{{ news_data.social_description }}" socialshare-caption="{{ news_data.social_caption }}"
                                    socialshare-media="http://{{ host }}/img/news/{{ news_data.image }}"
                                    socialshare-url="http://{{ host }}/{{ base_data.lang }}/news/{{ news_data.location }}">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a-->
                                <a href="#" socialshare socialshare-provider="twitter" socialshare-text="{{ news_data.meta['og:title'] }}" socialshare-hashtags="{{ news_data.tags.join(', ') }}"
                                    socialshare-url="http://{{ host }}/{{ base_data.lang }}/news/{{ news_data.location }}">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{ news_data.meta['og:title'] }}"
                                    socialshare-description="{{ news_data.meta['og:description'] }}"
                                    socialshare-url="http://{{ host }}/{{ base_data.lang }}/news/{{ news_data.location }}">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<distincta-footer-bar footer-info="base_data"></distincta-footer-bar>
