<header>

    <nav id="distincta-nav-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <distincta-nav-bar header-info="base_data" page-slug="'news'"></distincta-nav-bar>
        </div>
        <!-- /.container-->
    </nav>
</header>

<div class="wrapper">
    <section class="news">
        <div class="container">
            <div class="section-heading scrollpoint sp-effect3 active animated fadeInDown">
                <h2 ng-show="tag">{{ base_data.label_tag_search }} <strong>{{ tag }}</strong>:</h2>
                <!--Post-->
                <div class="row post" dir-paginate="news in news_list.news | filter: {tags: tag} | itemsPerPage: 5">
                    <div class="col-md-8 post_container">
                        <div class="post_title">
                            <a href="{{ base_data.lang + '/news/' + news.location }}">{{ news.title }}</a>
                        </div>
                        <div class="post_text">
                            <p class="marked" ng-bind-html="news.sub_title"></p>
                            <p ng-bind-html="news.description"></p>
                            <!--div class="post_tags">
                                Тагове: <a href="#" ng-repeat="tag in news.tags" class="post_tag">{{ tag }};</a>
                            </div-->
                            <div class="read_more">
                                <a href="{{ base_data.lang + '/news/' + news.location }}" class="button">{{ base_data.label_button_more }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 scale_image_container">
                        <div class="autor_event">
                            <div class="event_date">{{ news.date }}</div>
                            <div class="autor_info"><a href="{{ base_data.lang + '/about/' + news.autor_slug }}">{{ news.autor }}</a></div>
                        </div>
                        <a href="{{ base_data.lang + '/news/' + news.location }}"><img ng-src="img/news/{{ news.image }}" alt="{{ news.image_alt_text }}" class="scale_image"></a>
                        <div class="social-share">
                            <!--a href="#" socialshare socialshare-provider="facebook" socialshare-type="feed" socialshare-text="{{ news.title }}"
                                socialshare-description="{{ news.social_description }}"
                                socialshare-caption="{{ news.social_caption }}" socialshare-media="http://{{ host }}/img/news/{{ news.image }}"
                                socialshare-url="http://{{ host }}/{{ base_data.lang }}/news/{{ news.location }}" >
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a-->
                            <a href="#" socialshare socialshare-provider="twitter" socialshare-text="{{ news.title }}" socialshare-hashtags="{{ news.tags.join(', ') }}"
                                socialshare-url="http://{{ host }}/{{ base_data.lang }}/news/{{ news.location }}">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{ news.title }}"
                                socialshare-description="{{ news.social_description + news.social_caption }}"
                                socialshare-url="http://{{ host }}/{{ base_data.lang }}/news/{{ news.location }}">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Post-->
            </div>
            <dir-pagination-controls max-size="5" direction-links="false" boundary-links="true" on-page-change="scrollTopList(newPageNumber, oldPageNumber)"></dir-pagination-controls>
        </div>
    </section>
</div>

<distincta-footer-bar footer-info="base_data"></distincta-footer-bar>
