<section class="portfolio">
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3 active animated fadeInRight">
      <div class="divider">
        <h1>{{ section_data.title }}</h1>
      </div>
      <p ng-repeat="content in section_data.content">{{ content }}</p>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-{{ mark.size ? mark.size : 2 }} {{ mark.styles }}" ng-repeat="mark in section_data.marks">
        <div class="portfolio-item scrollpoint sp-effect2" style="text-align: center">
          <a class="portfolio-link" ng-href="{{ mark.src }}" title="{{ mark.name }}" target="_blank">
            <img ng-class="'photo ' + mark.type" ng-src="img/marks/{{ mark.image }}" style="{{ mark.width ? 'max-width: ' + mark.width : ''}}" alt="{{ mark.name }}" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
